.clients {
padding-bottom: 94px;
padding-top: 94px;
}

.clients__title {
margin-bottom: 30px;
font-weight: 700;
font-size: 28px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
@media screen and (min-width: 1200px) {
font-size: 36px;
line-height: 1.17;
margin-bottom: 50px;
}
}

.clients__logo {
width: 100%;
height: 100%;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.clients__list-logo {
margin-right: 30px;
&:last-child {
margin-right: 0;
}
}

.clients__border-logo {
width: 170px;
height: 92px;
border: 1px solid #AFB1B8;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
border-color: var(--color-accent);
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

.clients__logo-icon {
fill: #AFB1B8;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
.clients__border-logo:hover &,
.clients__border-logo:focus & {
fill: var(--color-accent);
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

