.team {
padding-top: 60px;
padding-bottom: 60px;
background-color: var(--team-background-color);
@media screen and (min-width: 1200px) {
padding-bottom: 94px;
padding-top: 94px;
}

}

.team__title {
margin-bottom: 30px;
font-weight: 700;
font-size: 28px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
@media screen and (min-width: 1200px) {
font-size: 36px;
line-height: 1.17;
margin-bottom: 50px;
}
}

.team__item {
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
width: 100%;

@media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
}

@media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);

}
}

.team__list {
display: flex;
flex-wrap: wrap;
gap: 30px;
}

// .team__list .team__item + .team__item {
// margin-left: 30px;
// }

.team__border {
padding-bottom: 30px;
padding-top: 30px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
text-align: center;
}

.team__name {
margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.team__position {
margin-bottom: 16px;
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.soc__list  {
display: flex;
justify-content: center;
}

.soc__item{
width: 44px;
height: 44px;
margin-right: 10px;
&:last-child {
margin-right: 0;
}
}

.soc__link {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
border-radius: 50%;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
background-color: var(--color-accent);
}
}

.soc__icon {
fill: #AFB1B8;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
.soc__link:hover &,
.soc__link:focus & {
fill: #FFFFFF;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}
