.working {
padding-top: 47px;
padding-bottom: 94px;
background-color: var(--header-background-color);
@media screen and (max-width: 1199px) {
display: none;
}
}

.working__title {
font-weight: 700;
font-size: 28px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
margin-bottom: 30px;
@media screen and (min-width: 1200px) {
font-size: 36px;
line-height: 1.17;
margin-bottom: 50px;
}
}

.working__list {
display: flex;
}

.working__list .working__item + .working__item {
margin-left: 30px;
}

.list-position {
position: relative;
}

.working__desktop-applications {
position: relative;
}

.img-desk {
display: block;
max-width: 100%;
height: auto;
}

.working__text-desktop {
display: flex;
align-items: center;
justify-content: center;
position: absolute;
bottom: 0;
height: 70px;
width: 100%;
color: #ffffff;
background: #2F303ACC;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}