:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --color-accent: #2196F3;
    --text-btn: #FFFFFF;
    --header-background-color:#FFFFFF;
    --main-background-color: #2F303A;
    --main-title-color: #FFFFFF;
    --primary-background-color: #E5E5E5;
    --team-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --footer-color:  rgba(255, 255, 255, 0.6);
    --button-team-background-color:#F5F4FA;
    
}